/*
** Some styles based on this codepen:
** https://codepen.io/dudleystorey/pen/Kgofa
**/

body {
  font-family: sans-serif;
  color: whitesmoke;
  margin: 0; background: #333;
}

h1 {
  font-family: cursive;
  font-size: 3em;
}

section {
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  padding: 0.5vw;
}

section div {
  position: relative;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  max-width: 300px;
  margin: 0.5vw;
  overflow-y: hidden;
}

section div img {
  width: 100%;
  height: auto;
}

section div ul {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  padding-left: 5px;
  width: 100%;
  background-color: #333;
  color: white;
  opacity: 0.8;
  list-style: none;
}

li.title {
  font-size: 1.4em;
}

li.medium {
  font-size: 1em;
  color: lightgray;
}

li.artist {
  font-size: 1em;
}

@media screen and (max-width: 420px) {
  h2 { align-self: center; }
  section div {
    max-width: 420px;
    min-width: 200px;
    margin: 0;
  }
  section { padding: 0; }
}
